<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "/static/css/layui.css">
</head>
<body>

<div style="width: 1300px;height:600px;margin: 70px auto">
    <blockquote class="layui-elem-quote">欢迎使用图书管理系统！这是Heart Linked的数据库实验5作业！希望你玩的开心！</blockquote>
    <table lay-filter="demo">
  <thead>
    <tr>
      <th lay-data="{field:'book_ID'}">书号</th>
      <th lay-data="{field:'book_name'}">书名</th>
      <th lay-data="{field:'book_publisher'}">出版社</th>
      <th lay-data="{field:'book_author'}">作者</th>
      <th lay-data="{field:'br_time'}">时间</th>
    </tr>
  </thead>
  <tbody>
      {% for i in data_list %}
    <tr>
      <td>{{ i.book_ID }}</td>
      <td>{{ i.book_name }}</td>
      <td>{{ i.book_publisher }}</td>
      <td>{{ i.book_author }}</td>
      <td>{{ i.br_time }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>


<script src = "/static/layui.js"></script>

<script>
//Demo
layui.use('form', function(){
  var table = layui.table;

//转换静态表格
table.init('demo', {
  height: 540 //设置高度
  ,limit: 1000 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
  //支持所有基础参数
    , width: 1400
})
})
</script>

</body>
</html>